*{
    margin:0;
    box-sizing:border-box; /* fix padding collapsing issues*/
}

#page-wrapper{
    width:80%;
    margin:auto; /*Squeeze Page*/
}

main{
    height:100vh; /* make main fill the entire page regardless of what */
    background-color: yellow;
    padding:0;
}



h1{
    font-size:calc(3px + 3vw);
}
h3{
    font-size:calc(3px + 2vw);
}

p{
    font-size:calc(3px + 1.5vw);
}




img{
    max-width:50%;
}

header{
}

nav{
    background-color:grey;
    height:100%;
}

nav ul{
    padding:0; /* removes left padding that is in every ul by default*/
    list-style:none; /* removes bullets from list*/
}



nav li{
}

nav a{
    text-decoration:none; /* removes the underline from elements*/
    color: black;
}

header{
    background-color: green;
}


@media screen and (max-width: 750px){
    nav li{
        display:inline; /* forces each li element to be inline*/
        padding: 0.5vw; /* prevent links from getting too close to each other*/
        margin:auto;
    }
    header{
        text-align:center;
    }
    main{
    }

    a{
        font-size:calc(3vw);
    }
    nav ul{
        width:100%;
        text-align:center;
    }

}
@media screen and (min-width: 750px){

    div #wrap{
        display: flex;
        flex-direction: row; /*What is this?*/
        width:100%;
    }

    main{
        width:70%;
    }

    nav{
        height:100%;
        background-color:grey;
        max-width:30%;
        width:30%;
    }

    nav ul{
        padding:0;
        display:inline;
    }

    nav li{
    }

    nav li a{
        padding: 8px 16px;
    }



    header{
    }


    main img{
        display:inline;
    }
}




@media screen and (max-width: 1000px){
    main{
        width:100%;
    }
}


@media screen and (min-width: 1000px){

    main{
        max-width:70%;
    }
}