*{
    margin:0 2%;
    box-sizing:border-box; /* fix padding collapsing issues*/

}

main{
    height:100vh;
}

h1{
    font-size:calc(3px + 2vw);
}
h3{
    font-size:calc(3px + 2vw);
}

p{
    font-size:calc(3px + 2vw);
}




img{
    max-width:50%;
}

nav ul{
    padding:0; /* removes left padding that is in every ul by default*/
    list-style:none; /* removes bullets from list*/
    margin:0;
    background-color:grey;
}



nav li{
    margin:0;
}

nav a{
    text-decoration:none; /* removes the underline from elements*/
    color: black;

}
header{
    background-color: green;
}


@media screen and (max-width: 750px){
    nav li{
        display:inline; /* forces each li element to be inline*/
        padding: 2px; /* prevent links from getting too close to each other*/
        margin:auto;
    }
    header{
        text-align:center;
    }
    main{
    }

    a{
        font-size:calc(3vw);
        margin:0;
    }
    nav ul{
        width:100%;
    }

}
@media screen and (min-width: 750px){
    nav li{
        padding: 2px;
    }

    nav ul{
        display:inline;
    }

    nav{
        position:fixed; /*makes the list sticky on vertical*/
        height:100%;
        display:inline;
    }


    header{
    }
    main{
        display:inline;
        padding-left:80px;
    }
    main img{
        display:inline;
    }
}


@media screen and (min-width: 1000px){

    main{
        max-width:70%;
    }
}

@media screen and (max-width: 1000px){
    main{
        width:100%;
    }
}